/* Everforest Color Scheme */

/* Background Colors */
:root {
    --bg-dim: #1E2326;
    --bgO: #272E33;
    --bg1: #2E383C;
    --bg2: #374145;
    --bg3: #414850;
    --bg4: #495156;
    --bg5: #4F5B58;

    /* Background Theme Colors */
    --bg-red: #4C3743;
    --bg-visual: #493840;
    --bg-yellow: #45443C;
    --bg-green: #3C4841;
    --bg-blue: #384855;

    /* Main Color Palette */
    --red: #E67E80;
    --orange: #E69875;
    --yellow: #DBBC7F;
    --green: #A7C080;
    --blue: #7FBBB3;
    --aqua: #83C092;
    --purple: #D699B6;

    /* Foreground and Status Line Colors */
    --fg: #D3C6AA;
    --statusline1: #A7C080;
    --statusline2: #D3C6AA;
    --statusline3: #E67E80;

    /* Grayscale Colors */
    --grayo: #7A8478;
    --gray1: #859289;
    --gray2: #9DA9A0;
}
